@import "../../.cache/wal/colors-waybar.css";

* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 16px;
}

window#waybar {
  background-color: @background;
  color: @foreground;
}

#workspaces button {
  padding: 0 6px;
  color: inherit;
  background: transparent;
  /* transition: color 0.3s ease; */
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  background: transparent;
  border: none;
  color: @color12;
}

#workspaces button.empty {
  color: @color8;
}

#workspaces button.active {
  color: @color10;
}

#workspaces button.urgent {
  color: @color1;
}

button:hover {
  background: inherit;
  box-shadow: inset 0 -3px @foreground;
}

#window {
  padding: 0 10px;
  font-weight: bold;
  color: @foreground;
}

#clock,
#custom-sep,
#battery,
#cpu,
#memory,
#disk,
#network,
#tray,
#pulseaudio,
#custom-asus,
#custom-notification {
  padding: 0 4px;
  color: inherit;
}

#custom-sep {
  color: @color8;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}
