@import "~/.cache/wal/colors-rofi-dark.rasi"

* {
    font: "JetBrainsMono Nerd Font 12";
}

#window {
    padding: 0;
}

#scrollbar {
    width: 4px;
    border: 0;
    handle-width: 8px;
    padding: 0;
    handle-color: @active-background;
}

// element selected.normal{
//     // background-color: transparent;
//     color: @background;
// }

